<td-layout>
  <td-navigation-drawer flex
                        [sidenavTitle]="name"
                        logo="assets:covalent"
                        name="Firstname Lastname"
                        email="firstname.lastname@company.com">
    <mat-nav-list>
      <a *ngFor="let item of routes"
         mat-list-item>
        <mat-icon>{{item.icon}}</mat-icon>
        {{item.title}}</a>
    </mat-nav-list>
    <div td-navigation-drawer-menu>
      <mat-nav-list>
        <a *ngFor="let item of [1, 2, 3, 4, 5]"
           mat-list-item>
          <mat-icon>user</mat-icon>
          Link {{item}}</a>
      </mat-nav-list>
    </div>
  </td-navigation-drawer>
  <td-layout-nav color="none"
                 logo="assets:covalent"
                 navigationRoute="/">
    <button mat-icon-button
            td-menu-button
            tdLayoutToggle>
      <mat-icon>menu</mat-icon>
    </button>
    <div td-toolbar-content
         layout="row"
         layout-align="start center"
         flex>
      <span hide-gt-xs
            class="tc-blue-500 mat-subhead">Landing</span>
      <span hide-xs
            class="tc-blue-500 mat-subhead">Landing Page</span>
      <span flex></span>
      <button mat-icon-button
              [matMenuTriggerFor]="notificationsMenu">
        <td-notification-count color="accent"
                               [notifications]="12">
          <mat-icon>notifications</mat-icon>
        </td-notification-count>
      </button>
      <mat-menu #notificationsMenu="matMenu">
        <td-menu>
          <div td-menu-header
               class="mat-subhead">Job Openings
          </div>
          <mat-nav-list dense>
            <a mat-list-item>
              <mat-icon mat-list-avatar>fiber_new</mat-icon>
              <h4 matLine><span class="text-wrap">Sr. Frontend Engineer</span></h4>
              <p matLine>UX team</p>
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item>
              <mat-icon mat-list-avatar>fiber_new</mat-icon>
              <h4 matLine><span class="text-wrap">Sr. Data Scientist</span></h4>
              <p matLine>Data science team</p>
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item>
              <mat-icon mat-list-avatar>fiber_new</mat-icon>
              <h4 matLine><span class="text-wrap">Sr. DevOps Engineer</span></h4>
              <p matLine>DevOps team</p>
            </a>
          </mat-nav-list>
          <a mat-button
             color="accent"
             td-menu-footer>
            View Jobs
          </a>
        </td-menu>
      </mat-menu>
    </div>
    <mat-toolbar class="pad-none">
      <nav mat-stretch-tabs
           mat-tab-nav-bar
           class="pull-bottom-xl pull-top-md text-upper"
           flex>
        <a mat-tab-link
           [active]="true">
          <span hide-xs>Home</span>
          <span hide-gt-xs><mat-icon>home</mat-icon></span>
        </a>
        <a mat-tab-link>
          <span hide-xs>Technology</span>
          <span hide-gt-xs><mat-icon>laptop_mac</mat-icon></span>
        </a>
        <a mat-tab-link>
          <span hide-xs>Locations</span>
          <span hide-gt-xs><mat-icon>language</mat-icon></span>
        </a>
        <a mat-tab-link>
          <span hide-xs>Job Openings</span>
          <span hide-gt-xs><mat-icon>assignment</mat-icon></span>
        </a>
        <a mat-tab-link>
          <span hide-xs>Leadership</span>
          <span hide-gt-xs><mat-icon>people</mat-icon></span>
        </a>
      </nav>
    </mat-toolbar>
    <!-- router outlet goes here -->
    <section class="bgc-blue-grey-50">
      <div layout-gt-xs="row">
        <div flex
             class="pad"
             tdMediaToggle="gt-xs"
             [mediaClasses]="['pad-xl']">
          <div class="push-top-xl"
               hide-xs></div>
          <div tdMediaToggle="gt-sm"
               [mediaClasses]="['push-lg']">
            <h1 class="mat-display-1 tc-blue-A400 push-top-xs push-bottom-sm">Main Site Slogan</h1>
            <h2 class="mat-headline tc-grey-800 push-top-xs push-bottom-sm">Supporting Secondary Text</h2>
            <p class="mat-subhead tc-grey-600">Leverage agile frameworks to provide a robust synopsis for high level
              overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall
              value proposition. Organically grow the holistic world view of disruptive innovation via workplace
              diversity and empowerment.</p>
            <button mat-raised-button
                    color="accent"
                    class="push-bottom text-upper">Call to Action
            </button>
          </div>
          <div class="push-bottom-xl"
               hide-xs></div>
        </div>
        <div flex="40"
             layout="row"
             layout-align="center center">
          <mat-icon class="push"
                    style="height: auto; width: auto;"
                    svgIcon="assets:covalent-mark"></mat-icon>
        </div>
      </div>
    </section>

    <section class="bgc-blue-A700 tc-white"
             tdMediaToggle="gt-xs"
             [mediaClasses]="['pad-top-md', 'pad-bottom-xl']">
      <h2 class="mat-display-1 text-upper text-center push-bottom">Work with bleeding edge technology</h2>
      <div layout="row"
           layout-align-gt-xs="center center">
        <div flex-gt-xs="80"
             layout="row"
             layout-wrap>
          <ng-template let-item
                       let-last="last"
                       ngFor
                       [ngForOf]="[0,1,2,3]">
            <div class="text-center"
                 flex-xs="50"
                 flex-gt-xs="25">
              <mat-icon class="push"
                        style="height: auto; width: auto;"
                        svgIcon="assets:covalent-mark"></mat-icon>
            </div>
          </ng-template>
        </div>
      </div>
      <div class="text-center push-top">
        <button mat-raised-button
                color="accent"
                class="mat-button-lg text-upper">View Technology
        </button>
      </div>
    </section>
    <section class="bgc-blue-grey-100"
             tdMediaToggle="gt-xs"
             [mediaClasses]="['pad-top-xl', 'pad-bottom-xl']">
      <h2 class="mat-display-1 text-upper text-center push-bottom">Current Team Openings</h2>
      <div layout-gt-xs="row"
           layout-align-gt-xs="center center">
        <div layout-gt-xs="row"
             flex-gt-xs="90"
             layout-margin>
          <div flex-gt-xs="25">
            <mat-card>
              <mat-toolbar color="accent"
                           class="bgc-blue-A400 push-bottom">
                <span class="text-upper">Frontend</span>
              </mat-toolbar>
              <mat-card-subtitle>Openings</mat-card-subtitle>
              <mat-divider></mat-divider>
              <mat-list>
                <ng-template let-item
                             let-last="last"
                             ngFor
                             [ngForOf]="[0,1,2,3,4]">
                  <mat-list-item>
                    <mat-icon mat-list-icon
                              class="fill-grey-700">description
                    </mat-icon>
                    <h4 matLine>Frontend Engineer</h4>
                  </mat-list-item>
                  <mat-divider mat-inset
                               *ngIf="!last"></mat-divider>
                </ng-template>
              </mat-list>
              <mat-divider></mat-divider>
              <mat-card-actions>
                <a mat-button
                   color="accent"
                   class="text-upper">View All</a>
              </mat-card-actions>
            </mat-card>
          </div>

          <div flex-gt-xs="25">
            <mat-card>
              <mat-toolbar color="accent"
                           class="bgc-light-blue-A400 push-bottom">
                <span class="text-upper">Backend</span>
              </mat-toolbar>
              <mat-card-subtitle>Openings</mat-card-subtitle>
              <mat-divider></mat-divider>
              <mat-list>
                <ng-template let-item
                             let-last="last"
                             ngFor
                             [ngForOf]="[0,1,2,3,4]">
                  <mat-list-item>
                    <mat-icon mat-list-icon
                              class="fill-grey-700">description
                    </mat-icon>
                    <h4 matLine>Backend Engineer</h4>
                  </mat-list-item>
                  <mat-divider mat-inset
                               *ngIf="!last"></mat-divider>
                </ng-template>
              </mat-list>
              <mat-divider></mat-divider>
              <mat-card-actions>
                <a mat-button
                   color="accent"
                   class="text-upper">View All</a>
              </mat-card-actions>
            </mat-card>
          </div>

          <div flex-gt-xs="25">
            <mat-card>
              <mat-toolbar color="accent"
                           class="bgc-cyan-A700 push-bottom">
                <span class="text-upper">DevOps</span>
              </mat-toolbar>
              <mat-card-subtitle>Openings</mat-card-subtitle>
              <mat-divider></mat-divider>
              <mat-list>
                <ng-template let-item
                             let-last="last"
                             ngFor
                             [ngForOf]="[0,1,2,3,4]">
                  <mat-list-item>
                    <mat-icon mat-list-icon
                              class="fill-grey-700">description
                    </mat-icon>
                    <h4 matLine>DevOps Engineer</h4>
                  </mat-list-item>
                  <mat-divider mat-inset
                               *ngIf="!last"></mat-divider>
                </ng-template>
              </mat-list>
              <mat-divider></mat-divider>
              <mat-card-actions>
                <a mat-button
                   color="accent"
                   class="text-upper">View All</a>
              </mat-card-actions>
            </mat-card>
          </div>
          <div flex-gt-xs="25">
            <mat-card>
              <mat-toolbar color="accent"
                           class="bgc-teal-A700 push-bottom">
                <span class="text-upper">Quality</span>
              </mat-toolbar>
              <mat-card-subtitle>Openings</mat-card-subtitle>
              <mat-divider></mat-divider>
              <mat-list>
                <ng-template let-item
                             let-last="last"
                             ngFor
                             [ngForOf]="[0,1,2,3,4]">
                  <mat-list-item>
                    <mat-icon mat-list-icon
                              class="fill-grey-700">description
                    </mat-icon>
                    <h4 matLine>Quality Engineer</h4>
                  </mat-list-item>
                  <mat-divider mat-inset
                               *ngIf="!last"></mat-divider>
                </ng-template>
              </mat-list>
              <mat-divider></mat-divider>
              <mat-card-actions>
                <a mat-button
                   color="accent"
                   class="text-upper">View All</a>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </div>
      <div class="text-center push-top">
        <button mat-raised-button
                color="accent"
                class="mat-button-lg text-upper">View All Openings
        </button>
      </div>
    </section>
    <section class="bgc-green-A700">
      <div layout-gt-xs="row">
        <div flex="40"
             layout="row"
             layout-align="center center">
          <mat-icon class="push"
                    style="height: auto; width: auto;"
                    svgIcon="assets:covalent-mark"></mat-icon>
        </div>
        <div flex
             class="pad"
             tdMediaToggle="gt-xs"
             [mediaClasses]="['pad-xxl']">
          <div class="push-top-xxl"
               hide-xs></div>
          <h3 class="mat-display-1 tc-white push-top-xs push-bottom-sm">The most desirable locations</h3>
          <p class="mat-title tc-blue-50">Austin, Boston, San Diego and The Bay Area!</p>
          <button color="accent"
                  mat-raised-button
                  class="push-bottom-md text-upper">View More
          </button>
          <div class="push-top-xxl"
               hide-xs></div>
        </div>
      </div>
    </section>
    <!-- end content -->
    <section class="bgc-blue-grey-800 tc-blue-grey-100">
      <div layout-gt-xs="row"
           layout-align-gt-xs="center center">
        <div layout-gt-xs="row"
             flex-gt-xs="80"
             layout-margin
             layout-padding>
          <div flex-gt-xs>
            <mat-nav-list>
              <h3 mat-subheader
                  class="text-upper tc-blue-grey-100">About Teradata</h3>
              <mat-list-item>
                <p matLine
                   class="tc-blue-grey-300">Company Info</p>
              </mat-list-item>
              <mat-list-item>
                <p matLine
                   class="tc-blue-grey-300">Our Customers</p>
              </mat-list-item>
              <mat-list-item>
                <p matLine
                   class="tc-blue-grey-300">Press</p>
              </mat-list-item>
            </mat-nav-list>
          </div>
          <div flex-gt-xs>
            <mat-nav-list>
              <h3 mat-subheader
                  class="text-upper tc-blue-grey-100">Career Info</h3>
              <mat-list-item>
                <p matLine
                   class="tc-blue-grey-300">Benefits</p>
              </mat-list-item>
              <mat-list-item>
                <p matLine
                   class="tc-blue-grey-300">Locations</p>
              </mat-list-item>
              <mat-list-item>
                <p matLine
                   class="tc-blue-grey-300">List item</p>
              </mat-list-item>
            </mat-nav-list>
          </div>
          <div flex-gt-xs="10">
          </div>
          <div flex
               layout="column"
               flex-gt-xs="30">
            <mat-icon class="push-top-md"
                      svgIcon="assets:covalent"
                      style="height: auto; width: auto;"></mat-icon>
            <p class="mat-body-1">&copy; Copyright 2017 Teradata, Inc. All rights reserved.</p>
          </div>
        </div>
      </div>
    </section>
    <a mat-fab
       color="accent"
       matTooltip="Contact Us"
       matTooltipPosition="above"
       class="mat-fab-position-bottom-right fixed">
      <mat-icon>send</mat-icon>
    </a>
    <td-layout-footer>
      <div layout="row"
           layout-align="start center">
        <span class="mat-caption">Made with <mat-icon class="text-md">favorite</mat-icon> using <a href="http://getcovalent.com"
                                                                                                   class="text-nodecoration tc-blue-700">Covalent</a>, built on Angular v4 + Angular Material.</span>
      </div>
    </td-layout-footer>
  </td-layout-nav>
</td-layout>
