<td-layout [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'push'"
           [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '240px' : '100%'">
  <td-navigation-drawer flex
                        [sidenavTitle]="name"
                        logo="assets:covalent">
    <mat-nav-list [tdLayoutClose]="!media.query('gt-sm')">
      <a *ngFor="let item of routes"
         mat-list-item>
        <mat-icon matListIcon>{{item.icon}}</mat-icon>
        {{item.title}}</a>
    </mat-nav-list>
    <div td-navigation-drawer-menu>
      <mat-nav-list>
        <a *ngFor="let item of usermenu"
           mat-list-item>
          <mat-icon matListIcon>{{item.icon}}</mat-icon>
          {{item.title}}</a>
      </mat-nav-list>
    </div>
  </td-navigation-drawer>
  <td-layout-nav [toolbarTitle]="name"
                 logo="assets:covalent"
                 navigationRoute="/">
    <button mat-icon-button
            td-menu-button
            tdLayoutToggle>
      <mat-icon>menu</mat-icon>
    </button>
    <td-layout-manage-list #manageList
                           [opened]="media.registerQuery('gt-sm') | async"
                           [mode]="(media.registerQuery('gt-sm') | async) ? 'side' :  'over'"
                           [sidenavWidth]="'257px'">
      <div td-sidenav-content
           layout="column"
           layout-fill>
        <mat-toolbar>
          <mat-icon class="push-left-xs"
                    matTooltipPosition="after">people
          </mat-icon>
          <span class="push-left-sm">Users</span>
        </mat-toolbar>
        <mat-nav-list flex
                      [tdLayoutManageListClose]="!media.query('gt-sm')">
          <a mat-list-item>
            <mat-icon matListIcon>people</mat-icon>
            <span>All Users</span>
          </a>
          <a mat-list-item>
            <mat-icon matListIcon>people</mat-icon>
            <span>Admin</span>
          </a>
          <a mat-list-item>
            <mat-icon matListIcon>people</mat-icon>
            <span>Users</span>
          </a>
        </mat-nav-list>
      </div>
      <mat-sidenav-container flex>
        <td-layout-nav color="none">
          <div td-toolbar-content
               flex
               layout="row"
               layout-align="start center">
            <button mat-icon-button
                    tdLayoutManageListToggle>
              <mat-icon>menu</mat-icon>
            </button>
            <span>All Users</span>
          </div>
          <div>
            <div>
              <mat-card>
                <mat-card-title>Users</mat-card-title>
                <mat-divider></mat-divider>
                <mat-list>
                  <mat-list-item>
                    <mat-icon matListAvatar>apps</mat-icon>
                    <h3 matLine>Name</h3>
                    <span flex></span>
                    <span hide-xs
                          flex="50"
                          class="mat-body-1 tc-grey-500">Type</span>
                    <span hide-xs
                          flex="20"
                          class="mat-body-1 tc-grey-500">Status</span>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                  <ng-template let-item
                               let-last="last"
                               ngFor
                               [ngForOf]="data">
                    <mat-list-item>
                      <mat-icon matListAvatar>person</mat-icon>
                      <h3 matLine> {{item.name}} </h3>
                      <span flex></span>
                      <span hide-xs
                            flex="10">
                        {{item.type}}
                      </span>
                      <span hide-xs
                            flex="50"
                            class="text-right mat-body-1 tc-grey-500 pad-right">
                        {{item.status}}
                      </span>
                    </mat-list-item>
                    <mat-divider *ngIf="!last"></mat-divider>
                  </ng-template>
                </mat-list>
              </mat-card>
            </div>
          </div>
        </td-layout-nav>
      </mat-sidenav-container>
    </td-layout-manage-list>
  </td-layout-nav>
</td-layout>
<a mat-fab
   matTooltip="New User"
   matTooltipPosition="before"
   color="accent"
   class="mat-fab-position-bottom-right z-3">
  <mat-icon>add</mat-icon>
</a>
