<div style="margin-top: 14px; width: 100%;">

  <mat-form-field appearance="outline">
    <mat-icon matPrefix
              style="margin-right: 14px;">alternate_email
    </mat-icon>
    <mat-label>Correo electrónico</mat-label>
    <mat-hint class="text-danger">Hint</mat-hint>
    <input matInput
           type="email">
  </mat-form-field>

  <div style="margin: 14px;">
    <a mat-button
       [routerLink]="'/auth'"
       style="width: calc(50% - 28px); margin-left: 14px;">Ya tienes cuenta?</a>
    <a mat-button
       [routerLink]="'/auth/register'"
       style="width: calc(50% - 28px); margin-left: 14px;">No tienes cuenta?</a>
  </div>

  <div style="margin: 14px;">
    <button mat-flat-button
            style="width: 100%;"
            type="submit"
            color="primary">
      SOLICITAR NUEVA CLAVE
    </button>
  </div>
</div>
