<mat-card-header>
  <mat-card-title>Ingresar al sistema</mat-card-title>
  <mat-card-subtitle>Completa el formulario con tus credenciales para ingresar al sistema</mat-card-subtitle>
</mat-card-header>
<mat-card-content>
  <mat-form-field appearance="outline">
    <mat-icon matPrefix
              style="margin-right: 14px;">alternate_email
    </mat-icon>
    <mat-label>Correo electrónico</mat-label>

    <input matInput
           type="email">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-icon matPrefix
              style="margin-right: 14px;">lock_outline
    </mat-icon>
    <mat-label>Clave</mat-label>
    <mat-hint class="text-danger">Hint</mat-hint>
    <input matInput
           type="password">
  </mat-form-field>
  <div style="margin: 14px;">
    <a mat-button
       [routerLink]="'/auth/request-new-password'"
       style="margin-left: 14px;">Olvidaste tu clave?</a>
    <a mat-button
       [routerLink]="'/auth/register'"
       style="margin-left: 14px;">No tienes cuenta?</a>
  </div>
  <mat-card-actions>
    <button mat-flat-button
            style=" width: 100%;"
            type="submit"
            color="primary">
      INGRESAR AL SISTEMA
    </button>
  </mat-card-actions>
</mat-card-content>
