<div style="margin-top: 14px;">


  <mat-form-field appearance="outline">
    <mat-icon matPrefix
              style="margin-right: 14px;">lock_outline
    </mat-icon>
    <mat-label>Clave</mat-label>
    <mat-hint class="text-danger">Hint</mat-hint>
    <input matInput
           type="password">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-icon matPrefix
              style="margin-right: 14px;">lock_outline
    </mat-icon>
    <mat-label>Confirme su clave</mat-label>
    <mat-hint class="text-danger">Hint</mat-hint>
    <input matInput
           type="password">
  </mat-form-field>

  <div style="margin: 14px;">
    <button mat-flat-button
            type="submit"
            color="primary">
      Proceed
    </button>
  </div>
</div>
